.home{
   text-align: center;
   padding: 20px;
   font-family: Arial, sans-serif;
}

.welcome h1{
    color: green;
}

.welcome p {
    color: #444;
}

button{
    background-color: green;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #008000cc;
}

.intro{
    margin-top:40px;
    padding: 0 20px;
}

.intro h2{
    color:#2e7d32;
    margin-bottom: 10px;
}

.intro p {
    color: #444;
    max-width: 600px;
    margin: 0 auto;
}

.intro 

.categories{
    margin-top: 30px;
}

.category-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 15px;
}

.card{
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 8px;
    width: 120px;
}
