.register-container {
  width: 350px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
}

.register-form input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
}

button {
  width: 95%;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}